<!-- いいね機能の実装 -->
            <div class="favorite-content">
              <% if @event.favorited_by?(current_user) %>
                <%= link_to event_favorites_path(@event), method: :delete, remote: true do %>
                  <i class="far fa-thumbs-up" aria-hidden="true" style="color: red;"></i>
                    <%= @event.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to event_favorites_path(@event), method: :post, remote: true do %>
                  <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                    <%= @event.favorites.count %> いいね
                <% end %>
              <% end %>
            </div>
        </div>
        <!-- ここまで -->