<div class="wrapper">
  <p id="notice"><%= notice %></p>
    <h2>イベントカレンダー</h2>
      <div id='container2'>
        <!-- カレンダー表示 -->
        <div id="calendar"></div>
      </div>

      <%= link_to "イベント新規登録", new_event_path, class: "btn btn-success new_event_btn" %>

       <h2>最新イベント投稿一覧</h2>
        <%= render partial: 'list', locals: {events: @search_events, view_rank: false } %>

            <h2>いいねランキング上位1〜3位</h2>
            <%= render partial: 'list', locals: {events: @all_ranks, view_rank: true } %>
</div>



