<div class="wrapper">
    <h2>イベント投稿フォーム</h2>
    <!-- イベント新規投稿の部分テンプレートここから -->
      <%= render 'form', event: @event %>
      <!-- ここまで -->
        <%= link_to 'イベント一覧へ戻る', events_path %>
  </div>
</div>