<!-- スライドショー記述 -->
<div class="main clearfix">
  <div id="container1">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
    </div>
  </div>
<!-- ここまで -->
<div class="top_text">
  <h2>Event Sharingへようこそ</h2>
    <p>このサイトは奈良県の知らないイベントや情報をみんなでシェアしようというサイトです</p>
</div>

  <div id='container2'>
    <div id="calendar"></div>
  </div>
</div>

<h3>アプリ説明</h3>

</div>