/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require skippr
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color:black;
  font-size: 15px;
  text-aline: center;
  font-family: 'Noto Sans JP', sans-serif;
}

a:hover {
      background-color:rgba(0,0,0,0);
      text-decoration: none;
    }


p {
  margin-bottom:30px;
  font-size: 15px;
  text-decoration:underline;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom:30px;
  color: black;
}

h2 {
  text-align: center;
  margin-bottom:30px;
  color: black;
}

.wrapper{
  max-width:1200px;
  margin:0 auto;
}

.table-striped {
	width: 650px;
  background-color: white;
  border:2px solid black;
  margin: 30px auto
}

.table-bordered {
  width: 650px;
  background-color: white;
  border:2px solid black;
  margin-left: 30px;
}

.show-event {
  width:100%;
  display:flex;
  margin-left: auto;
}

.show-main {
  width:100%;
}

.event-comment {
  margin-top:20px;
}

.table_item_color {
    background-color: #eeeeee;
}


body {
  background-image: image-url("sora.jpg");
  font-family: 'Noto Sans JP', sans-serif;
}



.nav-tag {
     display: flex;
     align-items: center;
}

.nav-tag img {
    width: 70px;
    margin: 20px;
}

.nav-tag ul {
  display: flex ;
  margin-left: auto;
  margin-right: 30px;
}

#container1 {
  position: relative;
  height: 600px;
  width: 100%;
  margin:50px auto;
}

#container1 .text li {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(50% - 25px);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  animation: text1 3s ease;
}

@keyframes text1 {
    0% {
        opacity:  0;
    }
    100% {
        opacity:  1;
    }
}

.top_text h2,.top_text p {
  text-align: center;
  font-size: 20px;
}

#container2{
  padding: 50px;
  width: 700px;
  margin:0 auto;
  background-color: white;
  border:3px solid black;
}

td.fc-sat {
    background-color: #eaf4ff;
}
td.fc-sun {
    background-color: #ffeaea;
}


.image1 {
  background-image: image-url("box8.jpg");
}

.image2 {
  background-image: image-url("hanabi.jpg");
}

.image3 {
  background-image: image-url("yoyo.jpg");
}

.image4 {
  background-image: image-url("toukae.jpg");
}


.top_image1 {
  width: 100%;
  height:300px;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.top_image2 {
  width: 100%;
  height:300px;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.top_image3 {
  width: 100%;
  height:300px;
  border-radius: 1rem;
}
.container3 {
  max-width: 100%;
  display: flex;
}

.content {
  margin: 10px 10px;
}

.effect content1 {
  transition: .8s;
}

.top-footer {
    height: 80px;
    line-height: 80px;
}


dl.searchbox{
  width: 350px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}
dl.searchbox dt{
  padding:3px;
}
dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:#228B22;
}

.search {
  margin-left:auto;
  width:400px;
}



li {
  list-style: none;
  padding: 5px 10px;
  font-size: 15px;
}

.events {
  border:3px black solid;
  border-radius: 10px;
  width:58vw;
  margin: 30px auto;
  padding:47px 50px;
  max-width:700px;
  background-color: white;
}

.event_img img{
  width:15vw;
}

.event_content {
  display:flex;
}

.event ul {
  list-style: none;
}

li username {
  width: 20px;
}

.about-box-list, .about-text {
    margin-top: 50px;
    border-radius: 10rem;
}

.about-text {
    padding: 0.5em 1em;
    margin: 2em 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.22);
    background-color: white;
}

.row {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.p-5 {
    padding: 3rem;
    height: 300px;
    width:100%;
}

.mb-5, .my-5 {
    margin-bottom: 3rem;
}

.mt-5, .my-5 {
    margin-top: 3rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}



.back__white {
    background-color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 1rem;
}



.login-body {
    display: inline-block;
    text-align: center;
    border: solid;
    background-color: #DDDDDD;
    padding-bottom: 30px;
    width: 500px;
    margin: 0 auto;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.password-content {
  text-align: center;
}

.no-image-item {
  border-radius: 50%;
}

.btn-success {
  width: 220px;
  display: block;
  margin: 20px auto;
}

.btn-info {
  width: 220px;
  display: block;
  margin: 20px auto;
}

.btn-inpuity {
  width: 220px;
  margin-top: 30px;
}

.new_event_btn {
  display: block;
  margin: 30px auto;
}

.show-comment{
  padding: 0 15px;
}


.wrapper_container {
  display: flex;
  }

.inquity-form {
  text-align: center;
  padding:60px;
  margin: 0 auto;
}

label {
  padding:20px;
}



.new-content {
  margin: 0 auto ;
  text-align: center;
}

.new-img {
  margin:0 auto;
}


.mb-0 {
  padding-top:30px;
}

.fc-event-time{
   display : none;
}

.hideCalendarTime > div > span.fc-time{
    display:none;
}

.favorite-content {
  display: block;
}



.fa-arrow-circle-up:hover{
  color:blue;
  background-color:none;
}

#back-to-top a:hover{
  background :none;
  color:black;
}